<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- CABECERA  PLANTILLA-->
<head th:replace="loyout/plantilla :: html_cabecera">
</head>
<body>

	<div class="wrapper">

		<!-- MENU PLANTILLA -->
		<nav th:replace="loyout/plantilla :: html_menu"></nav>

		<!-- CONTENIDO PLANTILLA -->
		<div id="content">
			<nav class="navbar navbar-expand-lg navbar-light bg-light"
				th:replace="loyout/plantilla :: html_submenu"></nav>

			<!-- CONTENIDO EDITABLE INICIO-->
			<div class="rows">

				<div class="card text-center"> 
					<div class="card-body">
					<h5 class="card-title">TUPAC</h5>
						 
						 <div class="card text-left">
							<div class="card-body">
								<form name="tupac" id="tupac" th:object="${tupac}" th:action="@{/admin/mantenimiento/buscarTupac}" method="post">

									<div class="row">

										<div class="col-sm-4">
											<div class="form-group">
												<label for="buscarInput">INGRESE EL NOMBRE :</label> <input
													 type="text"  onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control" id="CAJABUSQUEDA" th:field="*{CAJABUSQUEDA}"
													placeholder="Ingrese Nombre a Buscar">
											</div>
										</div>
										<div class="col-sm-4" style="padding-top: 30px;">
											<button type="submit" class="btn btn-outline-primary">
												<i class="fas fa-search"></i> BUSCAR
											</button>
											&nbsp;&nbsp;
											<!--  <button type="reset" class="btn btn-outline-primary">
												<i class="fas fa-broom"></i> LIMPIAR
											</button>-->
										</div>
										<div class="col-sm-4 text-right" style="padding-top: 30px;">
											<a th:href="@{/admin/mantenimiento/nuevoTupac}" class="btn btn-outline-primary"
											 role="button" aria-pressed="true">
											<i class="fas fa-calendar-plus"></i> NUEVO REGISTRO</a>
										</div>
									</div>

								</form>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="card">
					<h5 class="card-header">LISTA TUPACO</h5>
					<div class="card-body">
						<table class="table table-hover" id="listaTupac">
							<thead>
								<tr>
									<th scope="col">ITEM</th>
									<th scope="col">NOMBRE</th> 
									<th scope="col">TIPO DIA</th>
									<th scope="col">DIAS PLAZO</th>
									<th scope="col">OFICINA</th> 
									<th scope="col">ESTADO</th> 
									<th scope="col">REQUISITOS</th>
									<!--  <th scope="col">VER</th>-->
									<th scope="col">ACTUALIZAR</th>
									<th scope="col">ELIMINAR</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="i : ${listaTupac}">
									<th scope="row"><span th:text="${i.NITEM}"></span></th>
									<td><span th:text="${i.VNOMBRE}"></span></td>
									<td><span th:text="${i.VTIPODIAS}"></span></td>
									<td><span th:text="${i.NDIASPLAZO}"></span></td>
									<td><span th:text="${i.VNOMBREOFICINA}"></span></td>
									<td><span th:if="${i.NESTADO} !=1" th:text="INACTIVO"></span> <span th:if="${i.NESTADO} ==1" th:text="ACTIVO"></span></td>  
									<td><a th:href="@{/admin/mantenimiento/editarRequisitosTupac?id=} + ${i.TUPACPK}" class="btn btn-outline-primary" role="button"><i class="fas fa-edit"></i></a></td>
									<!-- <td><a th:href="@{/admin/mantenimiento/editarRequisitos?id=} + ${i.TUPACPK}" class="btn btn-outline-primary" role="button"><i class="fas fa-edit"></i></a></td>-->
								    <td><a th:href="@{/admin/mantenimiento/editarTupac?id=} + ${i.TUPACPK}" class="btn btn-outline-primary" role="button"><i class="fas fa-edit"></i></a></td>
									<td><a th:href="@{/admin/mantenimiento/eliminarTupac?id=} + ${i.TUPACPK}" class="btn btn-outline-primary" role="button" th:onclick="return funeliminartag(this,[[${i.VNOMBRE}]])"><i class="far fa-trash-alt"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				


			</div>

			<!-- CONTENIDO EDITABLE FIN-->

		</div>

	</div>
	 
	<div th:replace="loyout/plantilla :: html_scrip"></div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script th:src="@{/js/sweetAlert.js}" type="text/javascript"></script>
	<script type="text/javascript">
		$('#listaTupac').paginate({ 
			limit: 10,
			initialPage: 0,
			previous: true, 
			previousText: 'Anterior',
			next: true,
			nextText: 'Siguiente',
			optional: false
			});
	</script>
</body>
</html>