<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- CABECERA  PLANTILLA-->
<head th:replace="loyout/plantilla :: html_cabecera">
</head>
<body>

	<div class="wrapper">

		<!-- MENU PLANTILLA -->
		<nav th:replace="loyout/plantilla :: html_menu"></nav>

		<!-- CONTENIDO PLANTILLA -->
		<div id="content">
			<nav class="navbar navbar-expand-lg navbar-light bg-light"
				th:replace="loyout/plantilla :: html_submenu"></nav>

			<!-- CONTENIDO EDITABLE INICIO-->
			<div class="rows">

				<div class="card text-center">
					<div class="card-header"><strong>MUNICIPALIDAD PROVINCIAL DE CHUMBIVILCAS</strong></div>
					<div class="card-body">
						<h5 class="card-title">SISTEMA DE TRAMITE DOCUMENTARIO</h5>
						 <img  th:src="@{/imagenes/logo_login.png}" width="35%"  />
					</div>
				</div>

			</div>

			<!-- CONTENIDO EDITABLE FIN-->

		</div>

	</div>

	<div th:replace="loyout/plantilla :: html_scrip"></div>

</body>
</html>