<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- CABECERA  PLANTILLA-->
<head th:replace="loyout/plantilla :: html_cabecera">
</head>
<body>

	<div class="wrapper">

		<!-- MENU PLANTILLA -->
		<nav th:replace="loyout/plantilla :: html_menu"></nav>

		<!-- CONTENIDO PLANTILLA -->
		<div id="content">
			<nav class="navbar navbar-expand-lg navbar-light bg-light"
				th:replace="loyout/plantilla :: html_submenu"></nav>

			<!-- CONTENIDO EDITABLE INICIO-->
			<div class="rows">
            <form th:action="@{/admin/expediente/buscarexpedientesinterno}" method="post" name="formexpediente" id="formexpediente" th:object="${formexpediente}">

				<div class="card text-center">
					<div class="card-body">
						<h5 class="card-title">BUSQUEDA EXPEDIENTES</h5>

						<div class="card text-left">
							<div class="card-body">
							
							<div class="form-group row">
							
							<div class="col-sm-2 text-center">
							   <label for="CAJABUSQUEDA"><span>AÑO</span></label>
							   <input type="number" class="form-control" id="NANIO" name="NANIO" th:field="*{NANIO}" required>
							</div>
							
							<div class="col-sm-3 text-center">
							   <label for="CAJABUSQUEDA"><span>NUMERO EXPEDIENTE</span></label>
							   <input type="text" class="form-control" id="VCODIGO_EXPEDIENTE" name="VCODIGO_EXPEDIENTE" th:field="*{VCODIGO_EXPEDIENTE}" required>
							</div>
							
							<div class="col-sm-2 align-baseline"> <br>
							  <button type="submit" class="btn btn-outline-primary">
												<i class="fas fa-search"></i> BUSCAR
											</button>
							</div>
							
							</div>
							
							</div>
						</div>
					</div>
				</div>


				<div class="card">
					<h5 class="card-header">LISTA EXPEDIENTES</h5>
					<div class="card-body">
					 <table class="table table-hover" id="listar">
					   <thead>
					      <tr class="text-center">
					        <th scope="col">ITEM</th>
					        <th scope="col">FECHA REGISTRO</th>
					        <th scope="col">CODIGO</th>
					         <th scope="col">TIPO DOCUMENTO</th>
					        <th scope="col">OFICINA ACTUAL</th>
					        <th scope="col">ESTADO ACTUAL</th>
					         <th scope="col">ASUNTO</th>  
					        <th scope="col">HOJA RUTA</th>
					      </tr>
					   </thead>
					   
					   <tbody>
					      <tr th:each="i : ${listaExpedientes}" style="text-align: center;">
					        <td><span th:text="${i.NITEM}"></span></td>
					        <td><span th:text="${i.VDFECREGISTRO}"></span></td>
					        <td><span th:text="${i.VCODIGO_EXPEDIENTE}"></span></td>
					        <td><span th:text="${i.VTIPO_DOCUMENTOS}"></span></td>
					        <td><span th:text="${i.VNOMBRE_OFICINA_ORIGEN}"></span></td>
					        <td><span th:text="${i.ESTADODOCUMENTO}"></span></td>
					        <td><span th:text="${i.VASUNTO}"></span></td> 
					        <td><a th:href="@{/admin/expediente/listahojarutainterno?idexpediente=} + ${i.NIDEXPEDIENTEPK}"><i class="fas fa-edit"></i></a></td>
					     </tr>
					   </tbody>
		
					 </table>
					
					</div>
				</div>


			   </form>
			</div>
		</div>


	</div>

	<div th:replace="loyout/plantilla :: html_scrip"></div>

</body>
</html>