<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- CABECERA  PLANTILLA-->
<head th:replace="loyout/plantilla :: html_cabecera">
</head>
<body>

	<div class="wrapper">

		<!-- MENU PLANTILLA -->
		<nav th:replace="loyout/plantilla :: html_menu"></nav>

		<!-- CONTENIDO PLANTILLA -->
		<div id="content">
			<nav class="navbar navbar-expand-lg navbar-light bg-light"
				th:replace="loyout/plantilla :: html_submenu"></nav>


			<form th:object="${formexpediente}"
				th:action="@{/admin/expediente/buscareportedocumentoestado}" method="post">


				<!-- CONTENIDO EDITABLE INICIO-->
				<div class="rows">

					<div class="card border-dark mb-3">
						<div class="card-header  text-center">REPORTE POR ESTADO DE
							DOCUMENTOS</div>
						<div class="card-body text-dark">

							<div class="form-row">

								<div class="form-group col-md-4">
									<span class="letras_expediente_externo">ESTADO DE
										DOCUMENTOS</span> <select class="form-control form-control-sm"
										id="NESTADODOCUMENTOFK" name="NESTADODOCUMENTOFK"
										th:field="*{NESTADODOCUMENTOFK}" th:onchange="this.form.submit();">
										<option value="0" >-- SELECCIONE --</option>
										<option th:each="i : ${listaEstadoDocumentos}"
											th:text="${i.etiqueta}" th:value="${i.codigo}"></option>
									</select>
								</div>
								<div class="form-group col-md-4"></div>

							</div>

						</div>
					</div>

                    
					<div class="card border-dark mb-3">
						<div class="card-header  text-center">CANTIDAD EXPEDIENTES
							POR ESTADO DOCUMENTO</div>
						<div class="card-body text-dark">

							<table class="table table-hover">
								<thead>
									<tr class="text-center">
										<th scope="col">#</th>
										<th scope="col">ESTADO DOCUMENTO</th>
										<th scope="col">CANTIDAD</th>
									</tr>
								</thead>
								<tbody>
									 <tr th:each="i : ${listaReporte}"  class="text-center">
									 <th scope="row"><span th:text="${i.NITEM}"></span></th>
									 <td><span th:text="${i.VESTADOCUEMNTO}"></span></td>
									 <td><span th:text="${i.NCANTIDAD}"></span></td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
					<div class="rows">
                       <div class="col-sm-6 text-right" th:if="${#lists.size(listaReporte)}">
							<button type="button" class="btn btn-dark" title="Exportal Excel"
								name="btnexportar" id="btnexportar">
								<i class="fas fa-file-excel"></i> Exportar Excel
							</button>
						</div>
                    </div>

				</div>
				<!-- CONTENIDO EDITABLE FIN-->
			</form>
		</div>


	</div>

	<div th:replace="loyout/plantilla :: html_scrip"></div>
    <script th:inline="javascript">
 
	$("#btnexportar").click(function(){
		var estadocumento=$("#NESTADODOCUMENTOFK").val(); 
		var win = window.open(window.location+'/exportarexelestadodocumentos?idestadodocumento='+estadocumento, '_blank');
		});
	</script>
</body>
</html>